*html{
  height:100%;
  



}
html{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewport='0 0 32 32' style='fill:black;font-size:24px;'><text y='50%'>🪶</text></svg>"),auto;

}
 
body{
  background-image: url(parchment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  margin:0;
  padding:0;
  font-family: "Meddon", cursive;
  font-weight: 400;
  font-style: normal;
}



h1{
  color:brown;
  margin-left: 35%;
  font-size: 6rem;
}

input{
  margin-left: 35%;
}

p{
  font-size: 4rem;
  color: brown;
  border-bottom: 2px solid brown;
}


.checked {
  text-decoration: line-through;
}